body{

background-color: #373A3C;
}

.navbar-fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
}

.carousel-inner img{
    object-fit: cover;
    height: 100vh;
}

.personalizado {
    background-color: #373A3C;
    text-align: center;
    color: white;
}

.personalizado h2 {
    color: white;
}

.personalizado .card {
    background-color: #373A3C;
    border-color: white;
}

.personalizado .card-text {
    color: white;
}


.fondoImagenes{
    height: 30px;
    filter: invert(100%);
    background-color: #ff0000;
}