.containerCarousel{
    position: relative;
    height: 100vh;
}

.navbarCustomizada{
    position: absolute;
    padding: 10px;
    z-index: 1;
}

.carousel-inner img{
    object-fit: cover;
    height: 100vh;
}