body{

background-color: #373A3C;
}

.navbarCustomizada{
    position: absolute;
    padding: 10px;
    z-index: 1;
    
}

.carousel-inner img{
    object-fit: cover;
    height: 100vh;
}

section{
    background-color: #373A3C;
    text-align: center;
    
}
section h2{
    color: white
    
}